@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

:root {
  /* font-family: "Ultra", Verdana, sans-serif; */
  /* font-family: "Silkscreen", sans-serif; */
  font-family: Verdana, sans-serif;
  /* font-family: "Monoton", sans-serif; */
  line-height: 1.5;
  font-weight: 800;

  color-scheme: light dark;
  /* color: #E76F51; */
  background-color: #264653;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.topnav {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.logo-font {
  font-family: "Silkscreen", Verdana, sans-serif;
}

.top {
  top: 0;
}

.down {
  top: -100px;
  transition-duration: 0.9s;
}

.up {
  top: 0;
  transition-duration: 0.9s;
}